<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="city.turtle.mapper.MembersMapper">
    <!-- 회원가입 -->
    <insert id="insertMembers" parameterType="city.turtle.mapper.MembersVO">
        insert into MEMBERS(mb_id, mb_nick, mb_pwd, mb_name, mb_birthdate, mb_sex, mb_email, admin_yn)
        values(#{mb_id},#{mb_nick},#{mb_pwd},#{mb_name},concat(#{mb_yy}, #{mb_mm}, #{mb_dd}),#{mb_sex},#{mb_email}, 0)
    </insert>
    
    <!-- 아이디 중복체크 -->
    <select id="mbidCheck" parameterType="String" resultType="int">
        select count(*) from MEMBERS where mb_id = #{mb_id}
    </select>
    
    <!-- 로그인 -->
    <select id="signIn" resultType="city.turtle.mapper.MembersVO">
        select * from MEMBERS where mb_id = #{mb_id} and mb_pwd = #{mb_pwd}
    </select>
</mapper>